body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*header--style*/
.header-container {
    display: flex;
    flex-direction: column;
    background: #1F2937;
    align-items: center;
    padding: 0 15%
}

.second-header-container, .main-content {
    display: flex;;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.second-header-container {
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav {
    display: flex;
    gap: 25px;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
}

.main-content {
    display: flex;
    padding: 0 0 100px 0;
    justify-content: space-between;
    width: 100%;
}

.image-content img {
    width: 400px;
    height: auto;
}

.image-content {
    display: flex;
    justify-content: flex-end;
}

.text-content {
    max-width: 50%;
}

.main-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.body-paragraph {
    font-size: 24px;
    color:#F9FAF8;
    margin-bottom: 10px;
}

.sign-up-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 30px;
    border-radius: 5px;
    border: none;
}

/*info--style*/
.info-container {
    display: flex;
    flex-direction: column;
    padding: 0 15%;
    align-items: center;
}

.info-row {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.image {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 8px;
}

.quote-container {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 0 15%;
}

.sign_up-container {
    display: flex;
    flex-direction: column;
    padding: 0 15%;
}

.footer-container {
    background: #1F2937;
    flex-direction: column;
    padding: 0 15%;
}