* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: Roboto;
}

.header-container, .footer-container {
    background: #1F2937;
    display: flex;
    flex: 1 1 auto;
}

.second-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header-logo{
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
}

.header-navigation {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.header-link {
    font-size: 18px;
    color:#e5e7eb;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.text-content {
    display: flex;
    margin-right: 25px;
    flex-direction: column;
    flex: 1;
}

.main-title {
    display: flex;
    font-weight: 900;
    font-size: 36px;
    color: #F9FAF8;
}

.body-paragraph {
    display: flex;
    color:#F9FAF8;
}

.image-content {
    display: flex;
    flex: 1;
    height: 250px;
    width: 250px;
}

.header-container {
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 65px;
    padding-right: 65px;
}

.info-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}

.quote-container {
    background: #e5e7eb;
    display: flex;
    flex: 1 1 auto;
}

.sign_up-container {
    display: flex;
    flex: 1 1 auto;
}

